:root {
  --Primary-Orange: hsl(25, 97%, 53%);
  --Neutral-Orange: hsl(25, 94%, 64%);
  --Neutral-White: hsl(0, 0%, 100%);
  --Neutral-LightGrey: hsl(217, 12%, 63%);
  --Neutral-MediumGrey: hsl(216, 12%, 54%);
  --Neutral-MediumDarkBlue: hsl(212, 18%, 35%);
  --Neutral-DarkBlue: hsl(213, 19%, 18%);
  --Neural-VeryDarkBlue: hsl(216, 12%, 8%);
}

main {
  flex: 1;
  max-width: 400px;
  max-height: 600px;
  min-height: 275px;
  padding: 5px 50px 20px 50px;
  background-color: hsl(213, 19%, 18%, 80%);;
  font-family: 'Karla', sans-serif;
  border-radius: 23px;
}

h1 {
  color:white;
  text-align: center;
  margin-top: 0;
}

p {
  color: lightgray;
}

.personalize__message--style {
  color:white;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0;
}

.personalize__name--style {
  color: red;
  font-family: 'Josefin Sans', Sans;
}

.UI-background {
  /* opacity:0.9; */
}

.main__button--style {
  min-width: 100%;
  background-color: var(--Primary-Orange);
  margin-top: 25px;
  border-radius: 25px;
  border: none;
  padding:10px;
  color: var(--Neutral-DarkBlue);
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 1.5px;
}

.main__button--style:hover {
  background-color: var(--Neutral-Orange);
}

@media only screen and (max-width:500px){
  main {
    margin: 0 10px;
    padding: 5px 10px 20px 10px;
  }

  .personalize__message--style {
    font-size: 1.25em;
  }
}

@media only screen and (min-width:500px){
  main {
    min-width: 400px;
  }
}

/*Borrow idea from https://alvarotrigo.com/blog/css-text-animations/*/
.animate-charcter
{
  font-family: 'Josefin Sans', Sans;
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #e4def6 0%,
    #b981f4 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
