:root {
  --Primary-Orange: hsl(25, 97%, 53%);
  --Neutral-White: hsl(0, 0%, 100%);
  --Neutral-LightGrey: hsl(217, 12%, 63%);
  --Neutral-MediumGrey: hsl(216, 12%, 54%);
  --Neutral-MediumDarkBlue: hsl(212, 18%, 35%);
  --Neutral-DarkBlue: hsl(213, 19%, 18%);
  --Neural-VeryDarkBlue: hsl(216, 12%, 8%);
}

main {
  flex: 1;
  max-width: 400px;
  max-height: 400px;
  padding: 5px 50px 20px 50px;
  background-color: var(--Neutral-DarkBlue);
  font-family: 'Karla', sans-serif;
  border-radius: 23px;
}

h1 {
  color:white;
}

p {
  color: lightgray;
}

.main__button--style {
  min-width: 100%;
  background-color: var(--Primary-Orange);
  margin-top: 25px;
  border-radius: 25px;
  border: none;
  padding:10px;
  color: var(--Neutral-White);
  cursor: pointer;
  letter-spacing: 1.5px;
}

.main__button--style:hover {
  background-color: var(--Neutral-White);
  color: var(--Primary-Orange);
}

@media only screen and (max-width:500px){
  main {
    margin: 0 20px;
    padding: 5px 20px 20px 20px;
  }
}
