
.message--container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-direction: column;
}

.noComment__button--style {
    max-width: 75%;
    min-width:75%;
    margin: auto;
    background-color: red;
    margin-top: 25px;
    border-radius: 25px;
    border: none;
    padding:10px;
    color: var(--Neutral-White);
    cursor: pointer;
    letter-spacing: 1.5px;
}

.messsage__secondLine--style {
    display: block;
}

.message__header--container {
    text-align: center;
    margin-top: 0;
}

.message__img--container {
    text-align: right;
}

.message__img--style {
    height: 25px;
    background-color: var(--Primary-Orange);
    border-radius: 30px;
}

.message__imgButton--style {
    background-color: transparent;
    border-color: transparent;
}