.weightedOption__buttonPanel--container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.weightedOption__button--style {
    border-radius: 25px;
    height: 50px;
    width: 50px;
    /* background-color: var(--Neutral-LightGrey); */
    /* background-color: var(--Neutral-MediumDarkBlue); */
    background-color: transparent;
    color: var(--Neutral-White);
    border: none;
    cursor: pointer;
    font-size: medium;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.weightedOption__button--style:hover {
    background-color: var(--Primary-Orange);
    color: var(--Neural-VeryDarkBlue);
}

.highlightButton, .weightedOption__button--style:active, .weightedOption__button--style:focus {
    background-color: var(--Primary-Orange);
    color: var(--Neural-VeryDarkBlue);
}

.weightedOptions__expressions--style {
    max-width: 50px;
}