.weightedOption__buttonPanel--container {
    display: flex;
    justify-content: space-between;
}

.weightedOption__button--style {
    border-radius: 25px;
    height: 50px;
    width: 50px;
    background-color: var(--Neutral-LightGrey);
    color: var(--Neural-VeryDarkBlue);
    border: none;
    cursor: pointer;
    font-size: medium;
}

.weightedOption__button--style:hover {
    background-color: var(--Neutral-MediumGrey);
    color: var(--Neutral-White);
}